apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: simple
  name: simple
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simple
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: simple
    spec:
      containers:
      - image: mdhack/mayanknginximage
        name: gitops-simpleapp
        resources: {}
status: {}
